*~
\#*\#
.DS_Store
lectures/*.aux
lectures/*.bbl
lectures/*.blg
lectures/*.log
lectures/*.toc
lectures/*.out
lectures/*.synctex.gz
*.class
.vscode/*

# auto folder when using emacs and auctex
./auto/*
*.el

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
main.pdf

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync